
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

.makeStyles-imgTest-111 {
  mix-blend-mode: multiply !important;
}

.MuiAppBar-root {
  /*z-index: auto !important; */
}

.MuiAppBar-positionStatic {
  transform: none !important;
}

.makeStyles-search-6
{
  /*position: absolute !important;*/
}

.makeStyles-backdrop-14 {
  /* z-index: 1 !important; */ 
}


/* quick fix solution. Do properly with withStyles higher order component */
/* container hoc as well to include diablegutters by default */
.MuiListItem-root.Mui-selected {
  color: #ea4f4f !important;
  /*background: none !important;*/
  /*border-bottom: 3px solid #ea4f4f; */
  /*box-shadow: inset -3px 0 0 0 #ea4f4f;*/
}

/* quick fix solution. Do properly with withStyles higher order component */
/* container hoc as well to include diablegutters by default */
.MuiListItem-root.Mui-selected svg { 
  color: #ea4f4f !important;
}


.MuiDrawer-root {
  z-index: 1200 !important;  /* set drawer under topbar */
}

/*
:root {
  --mainBlue:#2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
*/

/*
body {
  font-family: 'Open Sans', sans-serif !important;
}
*/

/*
a {
  color: #333 !important;
}
*/

/*
body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
*/

/*
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--mainBlue);
}
*/










